.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .main-container {
  flex:1;
  }

.content-wrap {
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
 }

 .footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-block-center {

}

.copyright {
  padding-top: 3px;
  font-size: 8px;
}

.card-image {
  width: 700px;
  height: 350px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.project-header, .project-footer {
  background: #841617
}

.project-container {
  width: 700px;
  display: inline-block;
  margin: 25px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.25);
}

#root {
  
}


h4 {
  text-align: center;
}